.mid-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-container {
  width: 32%;
  max-width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
  border-radius: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
.image {
  width: 30%;
}
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.parrot {
  background-color: #ecfccb;
}
.sky {
  background-color: #cffafe;
}
.purple {
  background-color: #ede9fe;
}
